:root {
  --Very-Dar-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: white;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}
main {
  height: 100vh;
}
.bg-images {
  height: 100vh;
}
.bg-top {
  position: absolute;
}
.bg-bottom {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.container {
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas:
    "heading-container rating"
    "testimonials testimonials";
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
  grid-column-gap: 8vw;
  grid-row-gap: 8vh;
  line-height: 1.5;
}

.heading-container {
  grid-column: 1/2;
}
.heading {
  color: var(--Very-Dar-Magenta);
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}
.description {
  color: var(--Dark-Grayish-Magenta);
}
.rating {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 13px;
}
.rating-background {
  background-color: var(--Light-Grayish-Magenta);
  padding: 15px 30px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
}
.rating-text {
  margin-left: 10px;
  position: relative;
  top: -2px;
}
.rating1 {
  align-self: flex-start;
}
.rating2 {
  align-self: center;
}
.rating3 {
  align-self: flex-end;
}

.testimonials {
  grid-column: 1/3;
  display: flex;
  justify-items: center;
  gap: 2vw;
  height: 300px;
}
.testimonial-style {
  border-radius: 8px;
  background-color: var(--Very-Dar-Magenta);
  max-width: 550px;
}

.testimonial-card1 {
  align-self: flex-start;
}
.testimonial-card2 {
  align-self: center;
}
.testimonial-card3 {
  align-self: flex-end;
}
.testimonial-content {
  justify-self: start;
  align-self: flex-end;
  margin: 40px;
}

.buyer-image {
  border-radius: 50%;
  max-width: 18%;
  float: left;
  margin-right: 15px;
  position: relative;
  top: -7px;
}

.verBuyer {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--Soft-Pink);
}
.name {
  margin: 0;
  font-size: 15px;
  color: var(--White);
  font-weight: 500;
}

.testimonial-description {
  color: var(--White);
  font-size: 15px;
  font-weight: 400;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
