:root {
  --Very-Dar-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--White);
  position: relative;
  overflow: hidden;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}
main {
}

.bg-top-desktop {
  position: absolute;
}
.bg-bottom-desktop {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.mobile-bg-images {
  display: none;
}
.container {
  min-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas:
    "heading-container rating"
    "testimonials testimonials";
  grid-template-columns: repeat(2, 1fr);

  align-items: stretch;
  grid-column-gap: 8vw;
  grid-row-gap: 8vh;
  line-height: 1.5;
}

.heading-container {
  grid-column: 1/2;
}
.heading {
  color: var(--Very-Dar-Magenta);
  font-size: clamp(30px, 10vh, 50px);
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 1;
}
.description {
  color: var(--Dark-Grayish-Magenta);
}
.rating {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1 1 0px;
  gap: 20px;
  font-size: 13px;
}

.rating-background {
  background-color: var(--Light-Grayish-Magenta);
  padding: 15px 30px;
  border-radius: 8px;
  width: 440px;
  text-align: center;
}
.rating-text {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  top: -2px;
  color: var(--Very-Dar-Magenta);
  font-weight: 700;
}
.rating1 {
  align-self: flex-start;
}
.rating2 {
  align-self: center;
}
.rating3 {
  align-self: flex-end;
}

.testimonials {
  grid-column: 1/3;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 2vw;
  height: 300px;
}
.testimonial-style {
  border-radius: 8px;
  background-color: var(--Very-Dar-Magenta);
  max-width: 550px;
  display: flex;
  flex: 1 1 0px;
}

.testimonial-card1 {
  align-self: flex-start;
}
.testimonial-card2 {
  align-self: center;
}
.testimonial-card3 {
  align-self: flex-end;
}
.testimonial-content {
  margin: 30px;
}

.buyer-image {
  border-radius: 50%;
  width: 50px;

  float: left;
  margin-right: 15px;
  position: relative;
  top: -9px;
}

.verBuyer {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--Soft-Pink);
}
.name {
  margin: 0;
  font-size: clamp(13px, 1.4vw, 15px);
  color: var(--White);
  font-weight: 500;
}

.testimonial-description {
  margin-top: 40px;
  margin-bottom: 0;
  color: var(--White);
  font-size: clamp(13px, 1.4vw, 15px);
  font-weight: 400;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--Dark-Grayish-Magenta);
  font-size: 12px;
}
.attribution a {
  text-decoration: none;
  color: var(--Soft-Pink);
}
.attribution a:hover {
  color: var(--Very-Dar-Magenta);
}

@media (max-width: 1200px) {
  .testimonial-card1,
  .testimonial-card2,
  .testimonial-card3 {
    align-self: stretch;
    justify-items: center;
  }
  .testimonial-content {
    margin: 35px;
  }
}
@media (max-width: 1025px) {
  body {
    overflow: auto;
  }
  .desktop-bg-images {
    display: none;
  }
  .mobile-bg-images {
    display: inline;
  }

  .bg-top-mobile {
    position: absolute;
  }
  .bg-bottom-mobile {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .container {
    grid-template-areas:
      "heading-container"
      "rating"
      "testimonials testimonials";
    grid-template-columns: repeat(1, 1fr);
  }
  .heading-container {
    grid-column: 1/2;
  }
  .rating {
    grid-column: 1/2;
  }
  .rating-text {
    display: block;
    line-height: 2;
  }

  .testimonials {
    grid-column: 1/2;

    flex-direction: column;
  }

  .attribution {
    position: relative;
    left: 40vh;
  }
}
